﻿@using MvcApplication.Models
@model System.Collections.Generic.IList<RestaurantModel>
@{
    ViewBag.Title = "Home Page";
}

<table>
    <thead>
        <tr>
            <th>Restaurant name</th>
            <th>Phone number</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var restaurant in Model)
    {
        <tr>
            <td>@restaurant.Title</td>
            <td>@restaurant.PhoneNumberText</td>
            <td>@Html.ActionLink("Edit", "Edit", "Restaurant", new { id = restaurant.Id }, new {})</td>
        </tr>
    }
    </tbody>
</table>
    